$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.body {
  padding: 0;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

.child {
  margin: 1px;
  color: #333;
  width: 36px;
}

.child:hover {
  background-color: #333;
}

.okul {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_okul.png");
}

.fakulte {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_fakulte.png");
}

.yurt {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_yurt.png");
}

.laboratuvar {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_laboratuvar.png");
}

.idari {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_idari.png");
}

.yemeicme {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_yemeicme.png");
}

.teknokent {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_teknokent.png");
}

.spor {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_spor.png");
}

.kultursanat {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_kultursanat.png");
}

.konaklama {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_konaklama.png");
}

.magaza {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_magaza.png");
}

.kutuphane {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_kutuphane.png");
}

.diger {
  border-radius: 120px;
  opacity: 1;
  height: 50px !important;
  width: 50px !important;
  background-image: url("../images/i_diger.png");
}
