<div>
  <!-- Harita -->
  <div id="map" class="map"></div>

  <!--İTÜ Logosu-->
  <div class="navbar-collapse" style="position:fixed; left:10px; bottom:20px; z-index:1;">
    <a target="_blank" href="http://www.itu.edu.tr/"><img src="images/logo.png" width="50"></a>
  </div>

  <!--Üst Sağ Kısım-->
  <div class="input-group" style="position:fixed; right:20px; top:20px; z-index:1;">
    <!--Base Layer Seçimi-->
    <select ng-change="changeBaseLayer()" ng-model="selectedBaseLayer" class="form-control">
      <option ng-selected="1" value="osm">Open Street Map</option>
      <option value="bingRoad">Bing Street</option>
      <option value="bingAerial">Bing Uydu</option>
      <option value="mapbox_terrain">İTÜ Özel</option>
      <option value="googleSat">Google Satellite</option>
      <option value="googleStreet">Google Street</option>
    </select>
  </div>

  <!--Sağ alt kısım-->
  <div class="input-group" style="position:fixed; right:7px; bottom:20px; z-index:1;">
    <!--Kampüs seçimi-->
    <select ng-change="changeCampus()" class="form-control" ng-model="selectedCampus">
      <option value="ayazaga">Ayazağa Kampüsü</option>
      <option value="gumussuyu">Gümüşsuyu Kampüsü</option>
      <option value="macka">Maçka Kampüsü</option>
      <option value="taskisla">Taşkışla Kampüsü</option>
      <option value="tuzla">Tuzla Kampüsü</option>
    </select>
  </div>

  <!--Üst Sol Kısım-->
  <div class="input-group" style="position:fixed; left:20px; top:20px; z-index:1;">
    <!--Base Layer Seçimi-->
    <select ng-change="changePoiType()" ng-model="selectedPoiTypeId" class="form-control">
      <option value="0">Tümünü Göster</option>
      <option value="1">Okul</option>
      <option value="2">Fakülte</option>
      <option value="3">Yurt</option>
      <option value="4">Laboratuvar</option>
      <option value="5">İdari</option>
      <option value="6">Yeme-İçme</option>
      <option value="7">Teknokent</option>
      <option value="8">Spor</option>
      <option value="9">Kültür/Sanat</option>
      <option value="10">Konaklama</option>
      <option value="11">Mağaza</option>
      <option value="12">Kütüphane</option>
      <option value="13">Diğer</option>
    </select>
  </div>
</div>
